---
import Return from "@components/layout/Return.astro";
import Layout from "@layouts/Layout.astro";

import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const about = await getCollection("about");
  const paths = about.map((aba) => {
    return {
      params: {
        slug: aba.slug,
      },
      props: {
        aba,
      },
    };
  });
  return paths;
}
type Props = { aba: CollectionEntry<"about"> };
const { aba } = Astro.props;
const boarImagen = `board ${aba.slug} image`;
const boardTitulo = `board ${aba.slug} title`;
---

<Layout title={aba.data.title}>
  <Return path="/aboutUs#board" />
  <div class="relative overflow-hidden">
    <div
      class="relative flex flex-col lg:flex-row space-y-8 lg:space-y-0 text-center
      lg:text-left container xl:max-w-[1400px] mx-auto px-4 py-16 md:px-8"
    >
      <div class="lg:w-1/2 lg:flex lg:justify-center lg:items-center">
        <div class="relative mx-5 lg:w-96">
          <Image
            class="relative rounded-lg mx-auto shadow-lg"
            transition:name={boarImagen}
            quality={"mid"}
            loading={"lazy"}
            format="avif"
            alt={aba.data.coverAlt}
            src={aba.data.cover}
          />
        </div>
      </div>
      <div class="lg:w-1/2 lg:flex lg:items-center">
        <div>
          <h1 class="text-4xl font-black mb-4" transition:name={boardTitulo}>
            {aba.data.title}
          </h1>
          <p
            class="text-sm rounded text-gray-800 bg-gray-100 border border-gray-200 font-medium
            inline-flex px-2 py-1 leading-4 mb-2 dark:text-gray-200
             dark:bg-gray-700/50 dark:border-gray-600/50"
          >
            {aba.data.position}
          </p>
          <h2
            class="text-xl leading-relaxed font-medium text-gray-700 dark:text-gray-300 prose lg:prose-lg mx-auto"
          >
            {aba.body}
          </h2>
          <div
            class="flex flex-col sm:flex-row sm:items-center justify-center
             lg:justify-start space-y-2 sm:space-y-0 sm:space-x-4 pt-10 pb-16"
          >
            <a
              target="_blank"
              href={aba.data.facebook}
              class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-7 py-3.5 leading-6 border-blue-700 bg-blue-700 text-white hover:text-white hover:bg-blue-600 hover:border-blue-600 focus:ring focus:ring-blue-400 focus:ring-opacity-50 active:bg-blue-700 active:border-blue-700 dark:focus:ring-blue-400 dark:focus:ring-opacity-90"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="m-auto w-5"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                ></path>
              </svg>
            </a>
            <a
              target="_blank"
              href=`mailto:${aba.data.email}`
              class="inline-flex justify-center items-center space-x-2 border font-semibold rounded-lg px-7 py-3.5 leading-6 border-gray-200 bg-white text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300 focus:ring-opacity-25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-transparent dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600 dark:focus:ring-opacity-40 dark:active:border-gray-700"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="m-auto w-5"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
