---
import Botton from "@components/layout/Botton.astro";
import Return from "@components/layout/Return.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const weeks = await getCollection("weeks");
  const paths = weeks.map((week) => {
    return {
      params: {
        slug: week.slug,
      },
      props: {
        week,
      },
    };
  });
  return paths;
}
type Props = { week: CollectionEntry<"weeks"> };
const { week } = Astro.props;
const imagen = `week ${week.slug} image`;
const titulo = `week ${week.slug} title`;
---

<Layout title={week.data.title}>
  <Return link="/serviceWeeks#week" />
  <div class="max-w-[1400px] mx-auto px-4 md:px-8">
    <div class="mx-auto max-w-3xl text-center">
      <h1
        transition:name={titulo}
        class="text-3xl lg:text-4xl font-bold lg:tracking-tight mt-1 lg:leading-tight"
      >
        {week.data.title}
      </h1>
      <div
        class="flex gap-2 mt-3 items-center justify-center text-sm flex-wrap md:flex-nowrap"
      >
        <span class="text-slate-400">Encargado: {week.data.encargado}</span
        ><span class="text-slate-400">•</span><time
          class="dark:text-sky-400 text-sky-600">{week.data.dia}</time
        ><span class="text-slate-400 hidden md:block">•</span><div
          class="w-full md:w-auto flex flex-wrap justify-center gap-3"
        >
          <a
            target="_blank"
            href=`mailto:${week.data.correoEncargado}`
            class="text-slate-400 hover:underline"
            >{week.data.correoEncargado}</a
          >
        </div>
      </div>
    </div>

    <div class="mx-auto max-w-4xl">
      <picture
        ><Image
          src={week.data.cover}
          class="h-full w-full object-contain rounded-xl mt-6"
          width="1280"
          height="800"
          transition:name={imagen}
          alt={week.data.coverAlt}
          quality={"mid"}
          format="avif"
          loading={"lazy"}
        /></picture
      >
    </div>

    <div class="mx-auto prose lg:prose-lg mt-6 px-4 md:px-8 max-w-[1400px]">
      <p class="dark:text-slate-300 text-slate-800">
        {week.body}
      </p>
    </div>

    <div class="mx-auto px-4 text-center py-8">
      <Botton
        name="Registrar aquí"
        link="https://interland3.donorperfect.net/weblink/WebLink.aspx?name=E55454&id=19"
      />
    </div>
  </div>
</Layout>
