---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
type Props = {
  about: CollectionEntry<"about">[];
};
const { about } = Astro.props;
---

<div
  class="text-center mx-auto transition-all
   dark:text-slate-300 text-slate-950 grid md:grid-cols-4 gap-10 mt-12 px-4 md:px-8"
>
  {
    about.map((board) => {
      const route = `/about/${board.slug}`;
      const boarImagen = `board ${board.slug} image`;
      const boardTitulo = `board ${board.slug} title`;
      return (
        <a href={route} class="overflow-hidden  rounded-lg ">
          <div class="group">
            <picture class="w-full aspect-square">
              <Image
                class="rounded-lg shadow hover:shadow-2xl duration-500 hover:-translate-y-4 w-[380px] h-[320px] md:h-auto"
                transition:name={boarImagen}
                src={board.data.cover}
                alt={board.data.coverAlt}
                quality={"mid"}
                format="avif"
                loading={"lazy"}
              />

              <p transition:name={boardTitulo} class="text-md mt-4  ">
                {board.data.title}
              </p>
            </picture>
          </div>
        </a>
      );
    })
  }
</div>
