---
import Botton from "@components/layout/Botton.astro";
import ImageSlider from "@components/layout/ImageSlider";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Return from "@components/layout/Return.astro";

export async function getStaticPaths() {
  const involved = await getCollection("involved");
  const paths = involved.map((invol) => {
    return {
      params: {
        slug: invol.slug,
      },
      props: {
        invol,
      },
    };
  });
  return paths;
}
type Props = { invol: CollectionEntry<"involved"> };
const { invol } = Astro.props;

const involData = invol.data.CA || invol.data.club;
const pageTitle = involData === invol.data.CA ? "Casa Amiga" : "Club de Tareas";
const imgTransition = `invol ${invol.slug} image`;
const titleTransition = `invol ${invol.slug} title`;
---

<Layout title={invol.data.title}>
  <div
    class="px-4 mx-auto md:px-8 max-w-[1400px] transition-all duration-300 dark:text-slate-300 text-slate-950"
  >
    <Return />
    <section class="py-12 px-4 mx-auto md:px-8">
      <div class="flex px-4 md:flex-row flex-col items-center">
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
        >
          <h1
            transition:name={titleTransition}
            class="title-font sm:text-4xl text-3xl mb-4 font-medium"
          >
            {invol.data.title}
          </h1>
          <p
            class="mb-8 leading-relaxed prose-lg transition-all duration-100 mx-auto text-left"
          >
            {invol.body}
          </p>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <Image
            class="object-cover object-center rounded"
            transition:name={imgTransition}
            alt={invol.data.coverAlt}
            src={invol.data.cover}
            quality={"mid"}
            format="avif"
            loading={"lazy"}
          />
        </div>
      </div>
    </section>

    <p class="prose-lg mx-auto px-4 md:px-8">
      {invol.data.Texto}
    </p>

    <section class="py-12 mx-auto px-4 md:px-8">
      <div
        class="block rounded-lg border-4 border-slate-900/50 dark:border-slate-400"
      >
        <div
          class="flex flex-wrap items-center divide-x-2 divide-slate-200 dark:divide-slate-700"
        >
          <div class="min-h-[300px] w-full lg:w-6/12 xl:w-6/12">
            <div class="p-5 h-full">
              <h2 class="mb-6 pb-2 text-4xl font-bold">
                Su beca proporciona lo siguiente:
              </h2>
              <div class="grid gap-x-6">
                <div class="justify-start">
                  <ul class="flex-col items-center list-item px-4 mx-auto">
                    {
                      invol.data.contiene.map((item) => (
                        <li class="list-disc py-2">{item}</li>
                      ))
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="min-h-[300px] w-full lg:w-6/12 xl:w-6/12">
            <div class="p-5 w-fit">
              <h2 class="mb-6 pb-2 text-4xl font-bold">
                Compromiso del estudiante:
              </h2>
              <div class="grid gap-x-6">
                <div class="justify-start">
                  <ul class="flex-col items-center list-item px-4 mx-auto">
                    {
                      invol.data.compromiso.map((item) => (
                        <li class="list-disc py-2">{item}</li>
                      ))
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="body-font py-8">
      <div
        class="container mx-auto flex px-5 md:flex-row flex-col items-center"
      >
        <div class="md:w-1/2 mb-10 w-full sm:mt-0">
          <ImageSlider client:load />
        </div>

        <div
          class="lg:flex-grow md:w-1/2 lg:pl-12 md:pl-12 flex flex-col md:items-start md:text-left items-center text-center"
        >
          <div class="title-font sm:text-4xl text-3xl mb-4 font-medium">
            <h1>{pageTitle}</h1>
          </div>

          <p class="lg:mb-2 mb-8 prose-lg mx-auto text-left">
            {involData}
          </p>
          <div class="flex justify-center">
            <Botton
              link="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E55454&id=10"
              name="Dar una Beca"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
