---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
type Props = {
  involved: CollectionEntry<"involved">[];
};
const { involved } = Astro.props;
---

<div class="max-w-[1400px] mx-auto px-4 md:px-8">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      involved.map((invo, index) => {
        const route = `/involved/${invo.slug}`;
        const imgTransition = `invol ${invo.slug} image`;
        const titleTransition = `invol ${invo.slug} title`;
        return (
          <div
            class={` flex relative ${
              index === involved.length - 1 ? "sm:col-span-2 lg:col-span-1" : ""
            }`}
          >
            <Image
              transition:name={imgTransition}
              class={
                "absolute inset-0 w-full h-full object-cover object-center rounded-xl transition-all cursor-pointer"
              }
              src={invo.data.cover}
              alt={invo.data.coverAlt}
              quality={"mid"}
              format="avif"
              loading={"lazy"}
            />

            <a href={route}>
              <div
                class="rounded-xl px-8 py-10 relative z-10 w-full border-4 dark:border-sky-500 dark:bg-sky-900
           border-sky-800 bg-sky-200 opacity-0 hover:opacity-100 transition-all duration-300"
              >
                <h1
                  transition:name={titleTransition}
                  class="title-font text-lg font-medium mb-3"
                >
                  {invo.data.title}
                </h1>
                <p class="leading-relaxed">{invo.data.intro}</p>
              </div>
            </a>
          </div>
        );
      })
    }
  </div>
</div>
